<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Techeer-RUAlone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B06822129370AC000E5D648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B06823129370AC300E5D648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B06823B29370AC300E5D648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
